html, body {
  font-family: 'Abril Fatface', cursive;
  height: 100%;
  background: #56282D;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: center;
  text-align: center;
  background: transparent;
  
}

.curtain {
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  mix-blend-mode: soft-light;
  background-color:red;
  bottom: -100vh;
  visibility: hidden;
}


.name {
  color: white;
  font-size: 15vh;
  position: absolute;
  top: 20%;
  width: 100%;

}

.nav {
  position: absolute;
  top: 50%;
  width: 100%;
  color: white;
  background-color: #56282D;
  z-index: 1;
}

.navList .item {
  display: inline-block;
  font-size: 3vh;
  text-decoration: none;
  color: white;
}

.navList .item.separator {
  margin: 0 2vw
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.item.animate {
  animation: fancy 2s ease;
}

.name.animate {
  animation: fancy 500ms linear forwards;
}

.navList.animate {
  animation: fancy 500ms linear forwards;
}

@keyframes fancy {
  0% { 
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.sectionTitle {
  margin: 1em;
  margin-right: 1vw;
  display: inline-block;
  color: white; 
  font-size: 5vh;
  text-align: left;
  text-decoration: none;
}

.projectList {
  width: 100%;
  text-align: left;
  margin-left: 10vw;
  color: white;
  font-weight: lighter;
  font-size: 2vw;
  margin-top: 20vh;
}

.about {
  width: 100vw;
  height: 80vh;
  text-align: left;
  top: 20vh;
  color: white;
  position: relative;
}

.about .img-wrap {
  width: 100vw;
  text-align: right;
  display: inline-block;
  height: 80vh;
  margin: 0;
  overflow: hidden;
}

.about .me {
  height: 100vh;
  mix-blend-mode: darken;
  top: 5em;  
  left: -5em;
  position: relative;
}


.about .info {
  color: white;
  font-size: 5vh;
  display: inline-block;
  position: absolute;
  left: 10vw;
  mix-blend-mode: screen;
  white-space: wrap;
  width: 90vw;

}

.about .info p {
  margin-top: 1em;
  letter-spacing: 1em;  
}

.projectList .description {
  width: 60vw;
  text-align: left;
  margin-left: 11vw;
  padding-left: 1vw;
  color: white;
  font-weight: lighter;
  font-size: 1vw;  
  /*border-left: 1px solid white ;*/
  font-family: 'Lato', sans-serif;
}

.projectList .madeUsing {
  width: 40vw;
  text-align: left;
  margin-left: 11vw;
  padding-left: 1vw;
  color: white;
  font-weight: lighter;
  font-size: 1vw;  
  /*border-left: 1px solid white ;*/
  font-family: 'Lato', sans-serif;
}

.projectList .madeUsing .tools{
  display: inline-block;
  margin-right: 1em;
  font-family: 'Dosis', sans-serif;
  font-style: italic;
}

.tl .tools{
  display: inline-block;
  margin-right: 1em;
  font-family: 'Dosis', sans-serif;
  font-style: italic;
}

.projectList .madeUsing .image{
  height: 15vh;
}

.projectList .goTo {
  width: 60vw;
  text-align: right;
  margin-left: 11vw;
  padding-left: 1vw;
  color: white;
  font-weight: lighter;
  font-size: 2vw;  

}

.projectList .goTo a:hover {
  color: #80585D;
  transition: all 200ms ease;
}

.projectList .goTo a{
  text-decoration: none;
  color: white;
  text-align: right;
  cursor: pointer !important;
  text-decoration: underline;

}

.projectList .goTo:hover a {

}

.footer {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0vh;
  color: white;
  font-size: calc(1em + 1vw);
  background: #56282D;
  margin:0;
  padding: 0;
}

.footer p {
  margin:1vw;
}

.otherTitles {
  display: inline-block;
  color: rgb(27, 15, 17);
  font-size: 3vh;
  margin: 0 1vw;
  opacity: 0.7;
  text-decoration: none;
}

.nav {
  width: 100%;
  text-align: left;
  position: fixed;
  top: 0;
  background-color: #56282D;
}

.page-transition-enter {

}

.page-transition-exit {

}

.page-transition-exit-active .nav{
  opacity: 0;
}

.page-transition-exit-active .footer{
  animation: disappearText 1000ms ease;
}

.page-transition-exit-active .projectList{
  animation: disappear 1000ms ease;
}

.page-transition-exit-active .tl{
  animation: disappear 1000ms ease;
}


.page-transition-enter-active .footer{

}

.page-transition-enter-active .projectList{
  animation: appear 500ms ease 1700ms backwards;
}

.page-transition-enter-active .tl{
  animation: appear 500ms ease 1700ms backwards;
}

@keyframes disappear {
  0% {
    opacity: 1; display: none;
  }
  100% {
    opacity: 0;
  }
}


@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tl {
  position: relative;
}

.tl-line {
  width: 1px;
  height: 50vh;
  border-left: 3px solid black;
  left: 20vw;
  top: 25vh;
  position: absolute;
}

.tl-content {
  left: 20vw;
  top: 25vh;
  position: absolute;
}

.tl-content-event {
  margin-bottom: 20vh;
  position:relative;
}

.tl-event-title {
  color: white;
  margin-left: 1em;
  text-align: left;
}

.tl-event-title-l {
  color: white;
  text-align: right;
  position: absolute;
  left: -12em;
  top: 0;
  margin: 0;
}

.tl-event-date {
  position: absolute;
  left: -6em;
  margin: 0;
  text-align: right;
  color: white;
}

.tl-event-date-r {
  text-align: left;
  color: white;
  margin-left: 1em;
}

.tl-event-marker {
  position: absolute;
  left: -11px;
  top: 5px;
  margin: 0;
  padding: 0;
  background-color: #56282D;
}



.tl-event-description {
  color: white;
  margin-left: 2em;
  font-family: 'Dosis', sans-serif;
  text-align: left;
}

.git {
  font-size: 3vmin;
}

.goTo a {
  margin-left: 1em;
}